n8n-workflows/templates/ai-suggestions.json
{
  "name": "AI Project Suggestions with Ollama",
  "nodes": [
    {
      "parameters": {
        "path": "ai-suggestions",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "ai-suggestions"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "project_path",
              "value": "={{ $json.path }}"
            },
            {
              "name": "framework",
              "value": "={{ $json.framework }}"
            },
            {
              "name": "package_manager",
              "value": "={{ $json.package_manager }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-variables",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "command": "cd {{ $json.project_path }} && ls -la",
        "options": {}
      },
      "id": "list-project-files",
      "name": "List Project Files",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "command": "cd {{ $json.project_path }} && cat package.json 2>/dev/null || cat Cargo.toml 2>/dev/null || cat requirements.txt 2>/dev/null || echo 'No package file found'",
        "options": {}
      },
      "id": "read-package-file",
      "name": "Read Package File",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:11434/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama3.2:3b"
            },
            {
              "name": "prompt",
              "value": "Based on this {{ $json.framework }} project using {{ $json.package_manager }}, provide specific suggestions for:\n\n1. **Development Setup**: Recommended tools, extensions, configurations\n2. **Code Quality**: Linting, formatting, testing setup\n3. **Performance**: Optimization opportunities\n4. **Security**: Best practices and potential vulnerabilities\n5. **Documentation**: What should be documented\n6. **Deployment**: CI/CD and deployment recommendations\n\nProject structure:\n{{ $('List Project Files').item.json.stdout }}\n\nPackage file:\n{{ $json.stdout }}\n\nPlease provide actionable, specific suggestions for this {{ $json.framework }} project."
            },
            {
              "name": "stream",
              "value": false
            }
          ]
        },
        "options": {}
      },
      "id": "ollama-suggestions",
      "name": "Ollama Suggestions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "success",
              "value": "true"
            },
            {
              "name": "message",
              "value": "AI suggestions generated"
            },
            {
              "name": "suggestions",
              "value": "={{ $json.response }}"
            },
            {
              "name": "framework",
              "value": "={{ $('Set Variables').item.json.framework }}"
            },
            {
              "name": "package_manager",
              "value": "={{ $('Set Variables').item.json.package_manager }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "List Project Files",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Package File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Project Files": {
      "main": [
        [
          {
            "node": "Ollama Suggestions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Package File": {
      "main": [
        [
          {
            "node": "Ollama Suggestions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Suggestions": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
}
