n8n-workflows/templates/rust-project-setup.json
{
  "name": "Rust Project Setup",
  "nodes": [
    {
      "parameters": {
        "path": "rust-setup",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "rust-setup"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "project_path",
              "value": "={{ $json.path }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-variables",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "command": "cd {{ $json.project_path }} && cargo build",
        "options": {}
      },
      "id": "cargo-build",
      "name": "Cargo Build",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "command": "cd {{ $json.project_path }} && cargo test",
        "options": {}
      },
      "id": "cargo-test",
      "name": "Cargo Test",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "command": "cd {{ $json.project_path }} && cargo check",
        "options": {}
      },
      "id": "cargo-check",
      "name": "Cargo Check",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "success",
              "value": "true"
            },
            {
              "name": "message",
              "value": "Rust project setup completed successfully"
            },
            {
              "name": "commands_executed",
              "value": "cargo build, cargo test, cargo check"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Cargo Build",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cargo Test",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cargo Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargo Build": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargo Test": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargo Check": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
}
